
<p-panel i18n-header="@@settingsHeaderSettings" header="Settings">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="settings" />&nbsp;
        <button pButton (click)="save_settings()" i18n="@@buttonSave">Save</button>
    </ng-template>

    <ng-container *ngIf="settings">
        <div class="field" *ngFor="let setting of settings_rw">
            <span class="p-float-label">
                <input type="text" id="{{ setting.id }}" pInputText [(ngModel)]="setting.value" pTooltip="{{ setting.desc }}">
                <label for="{{ setting.id }}">{{ setting.id }}</label>
            </span>
        </div>
    </ng-container>
</p-panel>

<p-panel i18n-header="@@settingsHeaderAbsoluteSeatNumbers" header="Absolute Seat Numbers">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="absolute_seatnumbers" />&nbsp;
        <button pButton (click)="save_absolute_seatnumbers()" i18n="@@buttonSave">Save</button>
    </ng-template>

    <ng-container *ngIf="!absolute_seatnumbers" i18n="@@settingsDescriptionForDisabledASN">
        Currently absolut seatnumbering is disabled. The pariticipants need to provide a tablenumber and a seatnumber (on this table) while onboarding.
    </ng-container>

    <ng-container *ngIf="absolute_seatnumbers" i18n="@@settingsDescriptionForEnabledASN">
        The absolute seatnumbering is now enabled. Apply a individual seatnumber for every seat to satisfy integrity checks. Partisipants then use this number during onbording.
    </ng-container>
</p-panel>

<p-panel header="NLPT-SSO">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="nlpt_sso" />&nbsp;
        <button pButton (click)="save_nlpt_sso()" i18n="@@buttonSave">Save</button>
    </ng-template>

    <ng-container *ngIf="nlpt_sso">
        <div class="field url">
            <span class="p-float-label">
                <input type="text" id="ssologinurl" pInputText [(ngModel)]="sso_login_url">
                <label for="ssologinurl" i18n="@@elementFieldLabelSettingSsologinurl">SSO Login URL</label>
            </span>
        </div>

        <div class="field url">
            <span class="p-float-label">
                <input type="text" id="ssoonboardingurl" pInputText [(ngModel)]="sso_onboarding_url">
                <label for="ssoonboardingurl" i18n="@@elementFieldLabelSettingsSoonboardingurl">SSO Onboarding URL</label>
            </span>
        </div>
    </ng-container>
</p-panel>

<p-panel header="PortConfigCache">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="pcc" (onChange)="refreshPortConfigCaches()" />&nbsp;
        <button pButton (click)="clearPortConfigCaches()" i18n="@@buttonClear" class="p-button-danger" [disabled]="!pcc">Delete All</button>
    </ng-template>

    <ng-container *ngIf="pcc">
        <div class="field">
            <span class="p-float-label">
                <input type="text" id="pcc_total" pInputText [(ngModel)]="pcc_total" [disabled]="true">
                <label for="pcc_total" i18n="@@elementFieldLabelPccCountTotal">Total</label>
            </span>
        </div>

        <div class="field">
            <span class="p-float-label">
                <input type="text" id="pcc_commit" pInputText [(ngModel)]="pcc_commit" [disabled]="true">
                <label for="pcc_commit" i18n="@@elementFieldLabelPccCountCommit">Commit</label>
            </span>
        </div>

        <div class="field">
            <span class="p-float-label">
                <input type="text" id="pcc_retreat" pInputText [(ngModel)]="pcc_retreat" [disabled]="true">
                <label for="pcc_retreat" i18n="@@elementFieldLabelPccCountRetreat">Retreat</label>
            </span>
        </div>
    </ng-container>
</p-panel>

<p-panel i18n-header="@@settingsHeaderPortNumberingOffset" header="Port Numbering Offset">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="pno" (onChange)="refreshSwitches()" />&nbsp;
        <button pButton (click)="save_pno()" i18n="@@buttonSave">Save</button>
    </ng-template>

    <ng-container *ngIf="pno">
        <ng-container *ngIf="pno_loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" />
        </ng-container>
        <ng-container *ngIf="!pno_loading">
            <ng-template ngFor let-switch [ngForOf]="switches">
                <div class="field">
                    <span class="p-float-label">
                        <p-inputNumber inputId="pno_{{ switch.id }}" [(ngModel)]="switch.port_numbering_offset" [showButtons]="true"></p-inputNumber>
                        <label for="pno_{{ switch.id }}">{{ switch.desc }}</label>
                    </span>
                </div>
            </ng-template>
        </ng-container>
    </ng-container>
</p-panel>

<p-panel i18n-header="@@settingsHeaderRemoveOfflineDevices" header="Devices">
    <ng-template pTemplate="icons">
        <p-inputSwitch [(ngModel)]="rod" (onChange)="refreshDevices()" />&nbsp;
    </ng-template>

    <ng-container *ngIf="rod">
        <ng-container *ngIf="rod_loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" />
        </ng-container>
        <ng-container *ngIf="!rod_loading">
            <div class="field">
                <span class="p-float-label">
                    <input type="text" id="rod_total" pInputText [(ngModel)]="rod_total" [disabled]="true">
                    <label for="rod_total" i18n="@@elementFieldLabelRodTotal">Devices Count</label>
                </span>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <input type="text" id="rod_offline" pInputText [(ngModel)]="rod_offline" [disabled]="true">
                    <label for="rod_offline" i18n="@@elementFieldLabelRodOffline">Offline Devices</label>
                </span>
                <button pButton (click)="clearDevices()" i18n="@@buttonClearROD" class="p-button-danger" [disabled]="!rod">Remove All Offline</button>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <input type="text" id="rod_port" pInputText [(ngModel)]="rod_port" [disabled]="true">
                    <label for="rod_port" i18n="@@elementFieldLabelRodPort">Devices with Port</label>
                </span>
                <button pButton (click)="clearDevicesPorts()" i18n="@@buttonClearDevicesPorts" class="p-button-danger" [disabled]="!rod">Remove Ports</button>
            </div>

            <div class="field">
                <span class="p-float-label">
                    <input type="text" id="rod_wodesc" pInputText [(ngModel)]="rod_wodesc" [disabled]="true">
                    <label for="rod_wodesc" i18n="@@elementFieldLabelRodWoDesc">Devices without Description</label>
                </span>
                <button pButton (click)="clearDevicesWoDesc()" i18n="@@buttonClearRODwoDesc" class="p-button-danger" [disabled]="!rod">Remove without Description</button>
            </div>
        </ng-container>
    </ng-container>
</p-panel>

<app-menu></app-menu>
