<p-table [value]="tables" sortField="number" selectionMode="single" [(selection)]="selectedTable" (onRowSelect)="selectTable($event)" (onRowUnselect)="selectTable(undefined)">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="number">
                <ng-container i18n="@@elementFieldLabelTableNumber">Number</ng-container>
                <p-sortIcon field="number"></p-sortIcon>
            </th>
            <th pSortableColumn="desc">
                <ng-container i18n="@@elementFieldLabelTableDesc">Description</ng-container>
                <p-sortIcon field="desc"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelTableSwitchId">Switch</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelTableSeatIpPoolId">Seats IpPool</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelTableAddIpPoolId">Additional IpPool</ng-container>
            </th>
            <th></th>
            <th>
                Seats
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-table>
        <tr [pSelectableRow]="table">
            <td>{{ table.number }}</td>
            <td>{{ table.desc }}</td>
            <td>{{ switchesNames.get(table.switch_id) }}</td>
            <td>{{ ippoolsNames.get(table.seat_ip_pool_id) }}</td>
            <td>{{ ippoolsNames.get(table.add_ip_pool_id) }}</td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editTable(table)"></button>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-trash" (click)="confirmDelete(table)"></button>
            </td>
            <td>
                {{ seatCounts.get(table.id) || 0 }}
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-plus" (click)="addSeatsStart(table)"></button>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-minus" (click)="delSeatsStart(table)" *ngIf="seatCounts.get(table.id) || 0 > 0"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="editDialog" header="Edit Table" [modal]="true" [dismissableMask]="true">
    <app-table-creadit [table]="selectedTable" [vlans]="vlans" [switches]="switches" [ippools]="ippools" (dialogEndEvent)="editedTable()"></app-table-creadit>
</p-dialog>

<p-dialog [(visible)]="addSeatsDialog" header="Add Seats" [modal]="true" [dismissableMask]="true" *ngIf="selectedTable">
    <p>
        How many Seats do you like to add to Table {{ selectedTable.number }}
    </p>
    <div class="field">
        <span class="p-float-label">
            <p-inputNumber [(ngModel)]="adddelSeatsCount" [min]="0" (keyup.enter)="addSeats()" [showButtons]="true"></p-inputNumber>
        </span>
    </div>
    <button pButton (click)="addSeats()" i18n="@@buttonCommit">Commit</button>
</p-dialog>

<p-dialog [(visible)]="delSeatsDialog" header="Delete Seats" [modal]="true" [dismissableMask]="true" *ngIf="selectedTable">
    <p>
        How many Seats do you like to delete from Table {{ selectedTable.number }}
    </p>
    <div class="field">
        <span class="p-float-label">
            <p-inputNumber [(ngModel)]="adddelSeatsCount" [min]="0" (keyup.enter)="delSeats()" [showButtons]="true"></p-inputNumber>
        </span>
    </div>
    <button pButton (click)="delSeats()" i18n="@@buttonCommit">Commit</button>
</p-dialog>
