<p-table [value]="displayPorts" sortField="number">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="number">
                <ng-container i18n="@@elementFieldLabelPortNumber">Number</ng-container>
                <p-sortIcon field="number"></p-sortIcon>
            </th>
            <th pSortableColumn="desc">
                <ng-container i18n="@@elementFieldLabelPortDesc">Description</ng-container>
                <p-sortIcon field="desc"></p-sortIcon>
            </th>
            <th pSortableColumn="commit_disabled">
                <ng-container i18n="@@elementFieldLabelPortCommitDisabled">Commit Disabled</ng-container>
                <p-sortIcon field="commit_disabled"></p-sortIcon>
            </th>
            <th pSortableColumn="participants">
                <ng-container i18n="@@elementFieldLabelPortParticipants">Participants</ng-container>
                <p-sortIcon field="participants"></p-sortIcon>
            </th>
            <th pSortableColumn="type">
                <ng-container i18n="@@elementFieldLabelPortType">Type</ng-container>
                <p-sortIcon field="type"></p-sortIcon>
            </th>
            <th pSortableColumn="enabled">
                <ng-container i18n="@@elementFieldLabelPortEnabled">Enabled</ng-container>
                <p-sortIcon field="enabled"></p-sortIcon>
            </th>
            <th pSortableColumn="link">
                <ng-container i18n="@@elementFieldLabelPortLink">Link</ng-container>
                <p-sortIcon field="link"></p-sortIcon>
            </th>
            <th pSortableColumn="speed">
                <ng-container i18n="@@elementFieldLabelPortSpeed">Speed</ng-container>
                <p-sortIcon field="speed"></p-sortIcon>
            </th>
            <th pSortableColumn="switchlink">
                <ng-container i18n="@@elementFieldLabelPortSwitchlink">SWlink</ng-container>
                <p-sortIcon field="switchlink"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelPortVlanIds">Vlans</ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-port>
        <tr>
            <td>{{ port.number }}</td>
            <td>
                {{ port.desc }}
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editDescStart(port, $event)"></button>
            </td>
            <td>
                <ng-container *ngIf="!port.switchlink; else notChangeableCommitDisabled">
                    <button *ngIf="port.commit_disabled" pButton type="button" class="p-button-outlined p-button-success" icon="pi pi-check" (click)="editCommitDisabled(port, false)"></button>
                    <button *ngIf="!port.commit_disabled" pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="editCommitDisabled(port, true)"></button>
                </ng-container>
                <ng-template #notChangeableCommitDisabled>
                    <i *ngIf="!port.participants" class="pi pi-times" style="color: var(--danger-color)"></i>
                </ng-template>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editVlanConfigStart(port, $event)"></button>
            </td>
            <td>
                <ng-container *ngIf="selectedSwitch && selectedSwitch.purpose == 2 || !port.switchlink; else notChangeableParticipants">
                    <button *ngIf="port.participants" pButton type="button" class="p-button-outlined p-button-success" icon="pi pi-check" (click)="editParticipants(port, false)"></button>
                    <button *ngIf="!port.participants" pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="editParticipants(port, true)"></button>
                </ng-container>
                <ng-template #notChangeableParticipants>
                    <i *ngIf="port.participants" class="pi pi-check" style="color: var(--success-color)"></i>
                    <i *ngIf="!port.participants" class="pi pi-times" style="color: var(--danger-color)"></i>
                </ng-template>
            </td>
            <td>{{ port.type }}</td>
            <td>
                <ng-container *ngIf="port.enabled">
                    <i class="pi pi-check" style="color: var(--success-color)"></i>
                </ng-container>
                <ng-container *ngIf="!port.enabled">
                    <i class="pi pi-times" style="color: var(--danger-color)"></i>
                </ng-container>
            </td>
            <td>
                <ng-container *ngIf="port.link">
                    <i class="pi pi-check" style="color: var(--success-color)"></i>
                </ng-container>
                <ng-container *ngIf="!port.link">
                    <i class="pi pi-times" style="color: var(--danger-color)"></i>
                </ng-container>
            </td>
            <td>{{ port.speed }}</td>
            <td>
                <ng-container *ngIf="port.switchlink">
                    <i class="pi pi-check" style="color: var(--success-color)"></i>
                    {{ switchlinkById(port.switchlink_port_id) }}
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editSwitchlinkPortIdStart(port, $event)"></button>
                </ng-container>
                <ng-container *ngIf="!port.switchlink">
                    <i class="pi pi-times" style="color: var(--danger-color)"></i>
                </ng-container>
            </td>
            <td>
                <li *ngFor="let vlan_id of port.vlan_ids">{{ vlansNames.get(vlan_id) }}</li>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #editdesc [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <input type="text" id="desc" pInputText [(ngModel)]="newDesc" (keyup.enter)="editDesc()" autofocus>
                <label for="desc" i18n="@@elementFieldLabelPortDesc">Description</label>
            </span>
        </div>
        <button pButton (click)="editDesc()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #editswitchlinkportid [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <p-dropdown id="editswitchlinkportid" [options]="switchlinkOptions" [(ngModel)]="newSwitchlinkPortId" optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
                <label for="editswitchlinkportid" i18n="@@elementFieldLabelPortSwitchlinkPortId">Switchlink Port</label>
            </span>
        </div>
        <button pButton (click)="editSwitchlinkPortId()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-dialog [(visible)]="editVlanConfigDialog" (onHide)="editVlanConfigAbort()" [header]="selectedPortName" [modal]="true" [dismissableMask]="true">
    <ng-template pTemplate>
        <div class="content-row">
            <div class="content-column">
                <b>Commit</b>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_commit_setting" value="auto" [(ngModel)]="vlan_commit_setting" inputId="vlancommitsetting1" />
                    <label for="vlancommitsetting1" class="ml-2">Auto</label>
                </div>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_commit_setting" value="disable" [(ngModel)]="vlan_commit_setting" inputId="vlancommitsetting2" />
                    <label for="vlancommitsetting2" class="ml-2">Exclude</label>
                </div>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_commit_setting" value="manual" [(ngModel)]="vlan_commit_setting" inputId="vlancommitsetting3" />
                    <label for="vlancommitsetting3" class="ml-2">Manual</label>
                </div>
                <div *ngIf="vlan_commit_setting == 'manual'" class="field">
                    <div class="field">
                        <p-inputSwitch id="editCommitVlanEnabled" [(ngModel)]="vlan_commit_config.enabled" />
                        <label for="editCommitVlanEnabled" i18n="@@elementFieldLabelPortVlanEnabled">Enabled</label>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editCommitVlanMode" [options]="vlanModeOptions" [(ngModel)]="vlan_commit_config.mode" optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
                            <label for="editCommitVlanMode" i18n="@@elementFieldLabelPortVlanMode">Mode</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-multiSelect id="editCommitVlanVlans" [options]="vlansSelectable" [(ngModel)]="vlan_commit_config.vlans" optionLabel="label" optionValue="value" (onChange)="commitVlansChanged()"  appendTo="body" />
                            <label for="editCommitVlanVlans" i18n="@@elementFieldLabelPortVlanVlans">VLANs</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editCommitVlanDefault" [options]="vlansCommitDefaultSelectable" [(ngModel)]="vlan_commit_config.default" optionLabel="label" optionValue="value" appendTo="body"></p-dropdown>
                            <label for="editCommitVlanDefault" i18n="@@elementFieldLabelPortVlanDefault">Default</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editCommitVlanReceive" [options]="vlanReceiveOptions" [(ngModel)]="vlan_commit_config.receive" optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
                            <label for="editCommitVlanReceive" i18n="@@elementFieldLabelPortVlanReceive">Receive</label>
                        </span>
                    </div>
                    <div class="field">
                        <p-inputSwitch id="editCommitVlanForce" [(ngModel)]="vlan_commit_config.force" />
                        <label for="editCommitVlanForce" i18n="@@elementFieldLabelPortVlanForce">Force</label>
                    </div>
                </div>
            </div>
            <div class="content-column">
                <b>Retreat</b>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_retreat_setting" value="auto" [(ngModel)]="vlan_retreat_setting" inputId="vlanretreatsetting1" />
                    <label for="vlanretreatsetting1" class="ml-2">Auto</label>
                </div>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_retreat_setting" value="disable" [(ngModel)]="vlan_retreat_setting" inputId="vlanretreatsetting2" />
                    <label for="vlanretreatsetting2" class="ml-2">Exclude</label>
                </div>
                <div class="field-checkbox">
                    <p-radioButton name="vlan_retreat_setting" value="manual" [(ngModel)]="vlan_retreat_setting" inputId="vlanretreatsetting3" />
                    <label for="vlanretreatsetting3" class="ml-2">Manual</label>
                </div>
                <div *ngIf="vlan_retreat_setting == 'manual'" class="field">
                    <div class="field">
                        <p-inputSwitch id="editRetreatVlanEnabled" [(ngModel)]="vlan_retreat_config.enabled" />
                        <label for="editRetreatVlanEnabled" i18n="@@elementFieldLabelPortVlanEnabled">Enabled</label>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editRetreatVlanMode" [options]="vlanModeOptions" [(ngModel)]="vlan_retreat_config.mode" optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
                            <label for="editRetreatVlanMode" i18n="@@elementFieldLabelPortVlanMode">Mode</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-multiSelect id="editRetreatVlanVlans" [options]="vlansSelectable" [(ngModel)]="vlan_retreat_config.vlans" optionLabel="label" optionValue="value" (onChange)="retreatVlansChanged()" appendTo="body" />
                            <label for="editRetreatVlanVlans" i18n="@@elementFieldLabelPortVlanVlans">VLANs</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editRetreatVlanDefault" [options]="vlansRetreatDefaultSelectable" [(ngModel)]="vlan_retreat_config.default" optionLabel="label" optionValue="value" appendTo="body"></p-dropdown>
                            <label for="editRetreatVlanDefault" i18n="@@elementFieldLabelPortVlanDefault">Default</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <p-dropdown id="editRetreatVlanReceive" [options]="vlanReceiveOptions" [(ngModel)]="vlan_retreat_config.receive" optionLabel="name" optionValue="code" appendTo="body"></p-dropdown>
                            <label for="editRetreatVlanReceive" i18n="@@elementFieldLabelPortVlanReceive">Receive</label>
                        </span>
                    </div>
                    <div class="field">
                        <p-inputSwitch id="editRetreatVlanForce" [(ngModel)]="vlan_retreat_config.force" />
                        <label for="editRetreatVlanForce" i18n="@@elementFieldLabelPortVlanForce">Force</label>
                    </div>
                </div>
            </div>
        </div>
        <button pButton (click)="editVlanConfig()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-dialog>
