.field {
    margin-top: 1.2em;
    padding-bottom: 1em;
}

.table-cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.table-cell-list {
    display: flex;
    flex-direction: column;

    .vlan-t {
        color: var(--danger-color);
    }

    .vlan-u {
        color: var(--success-color);
    }
}
