<p-table [value]="displaySeats" sortMode="multiple" [multiSortMeta]="multiSortMeta">
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="!selectedTable">
                <ng-container i18n="@@elementFieldLabelSeatTableId">Table</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatNumber">Number</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatPw">Password</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatIp">IP</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatParticipant">Participant</ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td *ngIf="!selectedTable">{{ element.table }}</td>
            <td>{{ element.seatNumber }}</td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deletePw(element.seat)" *ngIf="element.seat.pw"></button>
                <button pButton type="button" class="p-button-outlined p-button-warning" icon="pi pi-question" (click)="generatePw(element.seat)"></button>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editPasswordStart(element.seat, $event)"></button>
                {{ element.seat.pw || '---' }}
            </td>
            <td>{{ element.seatIp }}</td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editParticipantStart(element.seat, participantsBySeat.get(element.seat.id), $event)"></button>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deleteParticipant(element.seat, participantsBySeat.get(element.seat.id))" *ngIf="participantsBySeat.get(element.seat.id)"></button>
                {{ participantsNameBySeat.get(element.seat.id) || '---' }}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #editpassword [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <input type="text" id="pw" pInputText [(ngModel)]="newPassword" (keyup.enter)="editPassword()">
                <label for="pw" i18n="@@elementFieldLabelSeatPw">Password</label>
            </span>
        </div>
        <button pButton (click)="editPassword()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #editparticipant [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <p-dropdown id="newParticipantId" [options]="participantsOptions" [(ngModel)]="newParticipantId" optionLabel="name" optionValue="code" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
                <label for="newParticipantId" i18n="@@elementFieldLabelSeatParticipant">Participant</label>
            </span>
        </div>
        <button pButton (click)="editParticipantCheck()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>
