<p-table [value]="displaySeats" sortMode="multiple" [multiSortMeta]="multiSortMeta">
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="!selectedTable">
                <ng-container i18n="@@elementFieldLabelSeatTableId">Table</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatNumber">Number</ng-container>
            </th>
            <th *ngIf="absolute_seatnumbers">
                <ng-container i18n="@@elementFieldLabelSeatNumberAbsolute">Absolute Number</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatPw">Password</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatIp">IP</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSeatParticipant">Participant</ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td *ngIf="!selectedTable">{{ element.table }}</td>
            <td>
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-trash" (click)="deleteSeat(element.seat)" i18n-pTooltip="@@tooltipSeatDelete" pTooltip="Delete Seat"></button>
                    {{ element.seatNumber }}
                </div>
            </td>
            <td *ngIf="absolute_seatnumbers">
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deleteAbsoluteNumber(element.seat)" *ngIf="element.seat.number_absolute" i18n-pTooltip="@@tooltipSeatDeleteAbsoluteNumber" pTooltip="Remove Absolute Number"></button>
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editAbsoluteNumberStart(element.seat, $event)" i18n-pTooltip="@@tooltipSeatEditAbsoluteNumber" pTooltip="Edit Absolute Number"></button>
                    {{ element.seat.number_absolute || '---' }}
                </div>
            </td>
            <td>
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deletePw(element.seat)" *ngIf="element.seat.pw" i18n-pTooltip="@@tooltipSeatDeletePassword" pTooltip="Remove Password"></button>
                    <button pButton type="button" class="p-button-outlined p-button-warning" icon="pi pi-question" (click)="generatePw(element.seat)" i18n-pTooltip="@@tooltipSeatGeneratePassword" pTooltip="Generate Random Password"></button>
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editPasswordStart(element.seat, $event)" i18n-pTooltip="@@tooltipSeatEditPassword" pTooltip="Edit Password"></button>
                    {{ element.seat.pw || '---' }}
                </div>
            </td>
            <td>{{ element.seatIp }}</td>
            <td>
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editParticipantStart(element.seat, participantsBySeat.get(element.seat.id), $event)" i18n-pTooltip="@@tooltipSeatEditParticipant" pTooltip="Edit Participant"></button>
                    <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deleteParticipant(element.seat, participantsBySeat.get(element.seat.id))" *ngIf="participantsBySeat.get(element.seat.id)" i18n-pTooltip="@@tooltipSeatDeleteParticipant" pTooltip="Remove Participant"></button>
                    {{ participantsNameBySeat.get(element.seat.id) || '---' }}
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #editpassword [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <input type="text" id="pw" pInputText [(ngModel)]="newPassword" (keyup.enter)="editPassword()">
                <label for="pw" i18n="@@elementFieldLabelSeatPw">Password</label>
            </span>
        </div>
        <button pButton (click)="editPassword()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #editparticipant [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <p-dropdown id="newParticipantId" [options]="participantsOptions" [(ngModel)]="newParticipantId" optionLabel="name" optionValue="code" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
                <label for="newParticipantId" i18n="@@elementFieldLabelSeatParticipant">Participant</label>
            </span>
        </div>
        <button pButton (click)="editParticipantCheck()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #editabsolutenumber [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <p-inputNumber inputId="newAbsoluteNumber" [(ngModel)]="newAbsoluteNumber" [min]="0" [showButtons]="true" (keyup.enter)="editAbsoluteNumber()"></p-inputNumber>
                <label for="newAbsoluteNumber" i18n="@@elementFieldLabelSeatAbsoluteNumber">Absolute Number</label>
            </span>
        </div>
        <button pButton (click)="editAbsoluteNumber()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>
