[Unit]
Description={{ docker_exporter_image }} (inside Docker)
After=docker.service
Requires=docker.service

[Service]
Type=exec

TimeoutStartSec=20
Restart=always
RestartSec=5

ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
__execstartpre__
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -p 9323:8000 \
    {{ docker_exporter_image }}
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
