global
        log /dev/log    local0
        log /dev/log    local1 notice
        stats socket ipv4@0.0.0.0:9999 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000


userlist haproxy-dataplaneapi
        user admin insecure-password adminpwd


program api
        command /usr/bin/dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/sbin/haproxy -f /usr/local/etc/haproxy/dataplaneapi.yml --config-file /usr/local/etc/haproxy/haproxy.cfg --reload-cmd "kill -SIGUSR2 1" --restart-cmd "kill -SIGUSR2 1" --reload-delay 5 --userlist haproxy-dataplaneapi --scheme=http
        no option start-on-reload


frontend fe_lpos
        bind :80
        acl is_ms_redirect_url path /redirect
        http-request redirect location http://dummy/ code 301 if is_ms_redirect_url  # domain needs to be dynamic somehow
        use_backend lpos_be if { path /api } || { path_beg /api/ }
        default_backend lpos_fe


backend lpos_be
        option forwardfor # sets X-Forwarded-For
        http-request replace-path /api(/)?(.*) /\2
        server local_lpos_backend host.docker.internal:{{ lpos_port.stdout }} check


backend lpos_fe
        http-request set-path /en/ if { url / }
        server docker_lpos_frontend host.docker.internal:8080 check


frontend stats
        bind *:8404
        http-request use-service prometheus-exporter if { path /metrics }
        stats enable
        stats uri /stats
        stats refresh 10s
