[Unit]
Description=LanPartyOnboardingSystem

[Service]
Type=exec

Restart=always
RestartSec=5

ExecStart={{ project_dir }}/venv/bin/python {{ project_dir }}/main.py
WorkingDirectory={{ project_dir }}
KillSignal=SIGINT

StandardInput=null
SyslogIdentifier=lpos

[Install]
WantedBy=multi-user.target
