[Unit]
Description={{ mongodb_exporter_image }} (inside Docker)
After=docker.service
Requires=docker.service

[Service]
Type=exec

TimeoutStartSec=20
Restart=always
RestartSec=5

ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
__execstartpre__
ExecStart=/usr/bin/docker run --rm --name %n \
    --link {{ mongodb_service_name }} \
    -p 9216:9216 \
    {{ mongodb_exporter_image }} --mongodb.uri=mongodb://{{ mongodb_service_name }}:27017/admin --discovering-mode

[Install]
WantedBy=default.target
