<p-table [value]="switches" sortField="desc">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="desc">
                <ng-container i18n="@@elementFieldLabelSwitchDesc">Description</ng-container>
                <p-sortIcon field="desc"></p-sortIcon>
            </th>
            <th pSortableColumn="addr">
                <ng-container i18n="@@elementFieldLabelSwitchAddr">Address</ng-container>
                <p-sortIcon field="addr"></p-sortIcon>
            </th>
            <th pSortableColumn="purpose">
                <ng-container i18n="@@elementFieldLabelSwitchPurpose">Purpose</ng-container>
                <p-sortIcon field="purpose"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSwitchOnboardingVlanId">Onboarding VLAN</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSwitchConnected">Connected</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSwitchCommited">Commited</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSwitchMac">HWaddr</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelSwitchKnownVlans">Configured VLANs</ng-container>
            </th>
            <th>
                Ports/Part
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sw>
        <tr>
            <td>{{ sw.desc }}</td>
            <td>{{ sw.addr }}</td>
            <td>{{ switchPurposeType[sw.purpose] }}</td>
            <td>{{ vlansNames.get(sw.onboarding_vlan_id) }}</td>
            <td>{{ sw.connected }}</td>
            <td>{{ sw.commited }}</td>
            <td>{{ sw.mac }}</td>
            <td>
                <li *ngFor="let vlan_id of sw.known_vlans">{{ vlansNames.get(vlan_id) }}</li>
            </td>
            <td>
                {{ portCount(sw.id) }}/{{ portCount(sw.id, true) }}
            </td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-eye" (click)="showPortsList(sw)" i18n-pTooltip="@@tooltipShowPorts" pTooltip="Show Ports"></button>
                <button pButton type="button" class="p-button-outlined p-button-warning" icon="pi pi-file-import" (click)="commitSwitch(sw)" i18n-pTooltip="@@tooltipCommitSwitch" pTooltip="Commit Switch"></button>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-file-export" (click)="retreatSwitch(sw)" i18n-pTooltip="@@tooltipRetreatSwitch" pTooltip="Retreat Switch"></button>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editSwitch(sw)" i18n-pTooltip="@@tooltipEditSwitch" pTooltip="Edit Switch"></button>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-trash" (click)="confirmDelete(sw)"i18n-pTooltip="@@tooltipDeleteSwitch" pTooltip="Delete Switch"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="editDialog" header="Edit Switch" [modal]="true" [dismissableMask]="true">
    <app-switch-creadit [sw]="selectedSwitch" [vlans]="vlans" (dialogEndEvent)="editedSwitch()"></app-switch-creadit>
</p-dialog>

<p-dialog [(visible)]="portsListDialog" header="Ports List" [modal]="true" [dismissableMask]="true">
    <app-ports-list [selectedSwitch]="selectedSwitch" [ports]="ports" [vlans]="vlans" [switches]="switches" (editedPortEvent)="editedSwitch()"></app-ports-list>
</p-dialog>
