<p-table [value]="devices" sortField="last_scan_ts" [sortOrder]="-1">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="desc">
                <ng-container i18n="@@elementFieldLabelDeviceDesc">Description</ng-container>
                <p-sortIcon field="desc"></p-sortIcon>
            </th>
            <th pSortableColumn="mac">
                <ng-container i18n="@@elementFieldLabelDeviceMac">MAC</ng-container>
                <p-sortIcon field="mac"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDeviceSeatId">Seat</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDeviceParticipantId">Participant</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDeviceIppoolId">IpPool</ng-container>
            </th>
            <th pSortableColumn="ip">
                <ng-container i18n="@@elementFieldLabelDeviceIp">IP</ng-container>
                <p-sortIcon field="ip"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDevicePortId">Port</ng-container>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDeviceManualConfig">Config</ng-container>
            </th>
            <th pSortableColumn="onboarding_blocked">
                <ng-container i18n="@@elementFieldLabelOnboardingBlocked">Blocked</ng-container>
                <p-sortIcon field="onboarding_blocked"></p-sortIcon>
            </th>
            <th pSortableColumn="pw_strikes">
                <ng-container i18n="@@elementFieldLabelPwStrikes">Strikes</ng-container>
                <p-sortIcon field="pw_strikes"></p-sortIcon>
            </th>
            <th pSortableColumn="last_scan_ts">
                <ng-container i18n="@@elementFieldLabelLastScanTs">Last Discover</ng-container>
                <p-sortIcon field="last_scan_ts"></p-sortIcon>
            </th>
            <th>
                <ng-container i18n="@@elementFieldLabelDeviceDelete">Delete</ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
        <tr [ngClass]="{'device-offline': (currentTs - device.last_scan_ts) > 60}">
            <td>
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editDescStart(device, $event)"></button>
                    {{ device.desc }}
                </div>
            </td>
            <td>
                {{ device.mac }}
            </td>
            <td>
                <div class="table-cell">
                    <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editSeatStart(device, $event)"></button>
                    {{ seatsReadable.get(device.seat_id) || '---' }}
                </div>
            </td>
            <td>
                {{ participantsReadable.get(device.participant_id) || '---' }}
            </td>
            <td>
                {{ ippoolsReadable.get(device.ip_pool_id) || '---' }}
            </td>
            <td>
                {{ utils.ip_int_to_str(device.ip) }}
            </td>
            <td>
                {{ portsReadable.get(device.port_id) || '---' }}
            </td>
            <td>
                <div class="table-cell">
                    <ng-container>
                        <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-pencil" (click)="editVlanConfigStart(device, $event)"></button>
                    </ng-container>
                    <ng-container>
                        <i *ngIf="device.commit_config == null" class="pi pi-play-circle" style="color: 'var(--success-color)'" i18n-pTooltip="@@tooltipCommitAuto" pTooltip="Commit: Auto"></i>
                        <i *ngIf="device.commit_config != null"class="pi pi-bullseye" style="color: 'var(--warning-color)'" i18n-pTooltip="@@tooltipCommitManual" pTooltip="Commit: Manual"></i>
                    </ng-container>
                    <ng-container>
                        <i *ngIf="device.retreat_config == null" class="pi pi-play-circle" style="color: 'var(--success-color)'" i18n-pTooltip="@@tooltipRetreatAuto" pTooltip="Retreat: Auto"></i>
                        <i *ngIf="device.retreat_config != null"class="pi pi-bullseye" style="color: 'var(--warning-color)'" i18n-pTooltip="@@tooltipRetreatManual" pTooltip="Retreat: Manual"></i>
                    </ng-container>
                </div>
            </td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-primary" icon="pi pi-times" (click)="setBlocked(device, true)" *ngIf="!device.onboarding_blocked"></button>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-check" (click)="setBlocked(device, false)" *ngIf="device.onboarding_blocked"></button>
            </td>
            <td>
                {{ device.pw_strikes }}
            </td>
            <td>
                {{ device.last_scan_ts * 1000 | date:'medium' }}
            </td>
            <td>
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-times" (click)="deleteDevice(device)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #editdesc [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <input type="text" id="newDesc" pInputText [(ngModel)]="newDesc" (keyup.enter)="editDesc()" autofocus>
                <label for="newDesc" i18n="@@elementFieldLabelDeviceDesc">Description</label>
            </span>
        </div>
        <button pButton (click)="editDesc()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #editseat [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="field">
            <span class="p-float-label">
                <p-dropdown id="newSeatId" [options]="seatsOptions" [(ngModel)]="newSeatId" optionLabel="name" optionValue="code" [filter]="true" filterBy="name" appendTo="body"></p-dropdown>
                <label for="newSeatId" i18n="@@elementFieldLabelDeviceSeatId">Seat</label>
            </span>
        </div>
        <button pButton (click)="editSeatCheck()" i18n="@@buttonSave">Save</button>
    </ng-template>
</p-overlayPanel>

<p-dialog [(visible)]="editVlanConfigDialog" (onHide)="editVlanConfigAbort()" [header]="selectedDeviceName" [modal]="true" [dismissableMask]="true">
    <app-vlan-config-edit [selectedDevice]="selectedDevice" [vlans]="vlans" (editedDeviceEvent)="editVlanConfigEnd()"></app-vlan-config-edit>
</p-dialog>
